body{
    background-color: #ccc;
    font-size: 20px;
}

h1{
    font-size: 30px;
    color: rgb(60, 66, 70);
}

html{
    font-size: 39.47%;
}

p{
    font-size: 2rem;
}
.link{
    font-size: 10px;
}

li{
    font-size: 3em;
}